mat-form-field,
textarea {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

.post-hero p {
    font-size: 1.25em;
    text-align: center;
}

.post-hero {
    padding-bottom: 1em;
}

mat-form-field {
    padding: 2em 0 2em 0;
}

button {
    margin-right: 1em;
}